* {
  margin: 0;
  padding: 0;
}

html,
body,
#root,
.app {
  width: 100%;
  height: 100%;
}

body {
  --color-high: invert(28%) sepia(97%) saturate(6187%) hue-rotate(356deg) brightness(92%) contrast(128%);
  --color-mid: invert(58%) sepia(12%) saturate(7196%) hue-rotate(2deg) brightness(105%) contrast(103%);
  --color-low: invert(79%) sepia(81%) saturate(526%) hue-rotate(356deg) brightness(102%) contrast(108%);
  --color-highlight: invert(72%) sepia(33%) saturate(3721%) hue-rotate(55deg) brightness(112%) contrast(106%);

  font-family: "Montserrat";
}

#root {
  box-sizing: border-box;
}

h1 {
  font-size: 27px;
}

.app {
  box-sizing: border-box;

  padding: 2rem;

  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;

  gap: 1rem;

  position: relative;

  background-color: white;
  box-shadow: 10px 10px 30px rgba(0, 0, 0, 0.425);
}

.page-title {
  /* font-style: italic; */
  text-wrap: nowrap;
}

.exercise-wrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;

  gap: 1rem;
}

.exercise-menu {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
  gap: 0.5rem;
}

.exercise-menu div {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 0.5rem;
}

.exercise-menu select {
  box-sizing: border-box;
  padding: 0.3rem;
  cursor: pointer;
}

.exercise-menu button {
  outline: solid rgb(255, 255, 255) 1px;
  outline-offset: -1px;
  background-color: rgb(14, 223, 59);
  color: white;
}

.exercise-menu button:hover {
  background-color: rgb(13, 204, 54);
  transform: scale(1.05);
}

button {
  box-sizing: border-box;
  padding: 0.4rem 1rem;
  border-radius: 4px;
  border: none;
  font-weight: bold;
}

button:hover {
  background-color: rgb(196, 196, 196);
  cursor: pointer;
}

.exercise-list {
  list-style: none;
  text-indent: 0;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 1rem;
  max-height: 8rem;
  overflow-y: scroll;
}

.exercise-list li {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 1rem;
}

.exercise-list li button {
  outline: solid rgb(255, 255, 255) 1px;
  outline-offset: -1px;
  background-color: rgb(255, 148, 148);
  color: white;
}

.exercise-list li button:hover {
  background-color: rgb(255, 103, 103);
  transform: scale(1.05);
}

.exercise-menu,
.exercise-list {
  box-sizing: border-box;
  width: 100%;
  padding: 1rem;
  background-color: rgb(252, 252, 252);
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.233);
}

.body-frame {
  position: relative;
  object-fit: contain;
}

.base,
.layer,
.layer-highlighted-high,
.layer-highlighted-medium,
.layer-highlighted-low {
  max-width: 100%;
}

@media (min-width: 700px) {
  #root {
    padding: 3rem;
    background-color: rgb(136, 224, 205);
  }

  .app {
    display: grid;
    grid-template-rows: 1fr 4fr;
    grid-template-columns: 1fr 1fr;

    padding: 2rem;
    object-fit: contain;

    border-radius: 10px;
  }

  .page-title {
    grid-column-start: 1;
    grid-column-end: 3;

    justify-self: center;
    align-self: center;
  }

  .exercise-wrapper {
    justify-self: center;
    align-self: flex-start;
    box-sizing: border-box;
    padding: 1rem;
  }

  .exercise-list {
    max-height: 45vh;
  }

  .exercise-list li {
    width: 100%;
    display: grid;
    grid-template-columns: 2fr 1fr 1fr;
  }

  .body-frame {
    justify-self: center;
    align-self: flex-start;
  }
}

.layer {
  position: absolute;
  top: 0;
  left: 0;
  filter: var(--color-high);
}

.layer-highlighted-high,
.layer-highlighted-medium,
.layer-highlighted-low {
  position: absolute;
  top: 0;
  left: 0;
  filter: var(--color-highlight);

  opacity: 0%;

  animation-name: fadeInOutHigh;
  animation-duration: 10s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
}

.layer-highlighted-medium {
  animation-name: fadeInOutMedium;
}

.layer-highlighted-low {
  animation-name: fadeInOutLow;
}

@keyframes fadeInOutHigh {
  0% {
    opacity: 0%;
  }

  22% {
    opacity: 0%;
  }

  50% {
    opacity: 77%;
  }

  60% {
    opacity: 77%;
  }

  88% {
    opacity: 0%;
  }

  100% {
    opacity: 0%;
  }
}

@keyframes fadeInOutMedium {
  0% {
    opacity: 0%;
  }

  22% {
    opacity: 0%;
  }

  50% {
    opacity: 25%;
  }

  60% {
    opacity: 25%;
  }

  88% {
    opacity: 0%;
  }

  100% {
    opacity: 0%;
  }
}

@keyframes fadeInOutLow {
  0% {
    opacity: 0%;
  }

  22% {
    opacity: 0%;
  }

  50% {
    opacity: 15%;
  }

  60% {
    opacity: 15%;
  }

  88% {
    opacity: 0%;
  }

  100% {
    opacity: 0%;
  }
}

.screen-shadow,
.storage-menu-save,
.storage-menu-load {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.screen-shadow {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.514);
  border-radius: 10px;
}

.storage-menu-save,
.storage-menu-load {
  background-color: white;
  box-sizing: border-box;
  padding: 1rem;
  border-radius: 5px;
  min-width: 300px;
  aspect-ratio: 1/1;
}

.storage-menu-save li,
.storage-menu-load li {
  text-wrap: nowrap;
}

.storage-menu-save {
  display: flex;
  justify-content: center;
  align-items: center;
}

.storage-menu-load {
  overflow-y: scroll;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.save-interface {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.save-interface input {
  border: 1px solid black;
  padding: 0.5rem 1rem;
}

.menu-title {
  position: absolute;
  top: 1rem;
  left: 1rem;
}

.close-btn {
  position: absolute;
  top: 1rem;
  right: 1rem;
}

.storage-menu-load ul {
  list-style: none;
  text-indent: 0;
  position: relative;
  top: 3rem;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.storage-menu-load li {
  display: grid;
  grid-template-columns: 2fr 1fr 1fr;
  gap: 0.5rem;
  justify-self: center;
  align-items: center;
}

.storage-menu-load li button {
  flex-shrink: 0;
}

@media (min-width: 700px) {

  .storage-menu-save,
  .storage-menu-load {
    aspect-ratio: 1/1;
  }
}

.copied {
  color: white;
  background-color: rgb(14, 223, 59);
}

.copied:hover {
  background-color: rgb(13, 204, 54);
}

.top-left-corner {
  top: 0;
  left: 0;
  transform-origin: top left;
  transform: scale(0.6);
}

.bottom-right-corner {
  bottom: 0;
  right: 0;
  transform: rotate(180deg);
}

.top-left-corner,
.bottom-right-corner {
  position: absolute;
  z-index: 1;
}